<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets async="true">
		<target name="file"
			xsi:type="File"
			fileName="${basedir}/nlog/${shortdate}/nlog-${shortdate}-${date:format=HH}.log"
			encoding="utf-8"
			layout="${longdate}|${uppercase:${level}}|${exception}"
			archiveEvery="Day"
			archiveFileName="${basedir}/nlog/${shortdate}/nlog-${shortdate}-${date:format=HH}.log"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM-dd"
			archiveAboveSize="10240"
			maxArchiveFiles="30" />
	</targets>

	<rules>
		<!--<logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Info" writeTo="file" />-->
		<logger name="*" minlevel="Error" writeTo="file" />
	</rules>
</nlog>
